exports.config = {
  host: process.env.DB_HOST || "host name",  
  port: process.env.DB_PORT || 0, port
  user: process.env.DB_USER || "username",
  password: process.env.DB_PASSWORD || "password for mysql",
  database: process.env.DB_DATABASE || "name of database",
  connection_limit:100
}

exports.Newsapikey = "Your key"

exports.LocationApiKey = "Your key"